---
import FeatureTitle from "./FeatureTitle.astro";
import ServicesCard from "./ServicesCard.astro";
import Wrapper from "./Wrapper.astro";

const data = [
  {
    subheading: "Water Bores",
    image: "/assets/leafcloseup.jpg",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do",
    svgPath:
      "M12.217 18.692q.223-.025.35-.15q.125-.127.125-.311q0-.216-.148-.332t-.363-.091q-1.025.075-2.29-.64q-1.266-.714-1.566-2.39q-.05-.236-.166-.353q-.117-.117-.295-.117q-.197 0-.335.147t-.083.44q.387 2.082 1.923 2.98t2.848.817M12 21q-3.002 0-5.001-2.061T5 13.8q0-2.154 1.738-4.765T12 3.308q3.525 3.117 5.262 5.728Q19 11.646 19 13.8q0 3.077-1.999 5.139T12 21",
  },
  {
    subheading: "Pumps",
    image: "/assets/watertap.jpg",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do",
    svgPath:
      "m11.98 9.789l-.657.98q-.521.8-.672 1.16q-.151.362-.151.79q0 .616.434 1.054q.433.439 1.066.439t1.066-.434t.434-1.066q0-.4-.16-.79q-.161-.391-.682-1.153zm.018 8.038q-2.425 0-4.125-1.702t-1.7-4.127t1.702-4.125t4.127-1.7t4.125 1.702t1.7 4.127t-1.702 4.125t-4.127 1.7m8.502-6.558V10.5h-1.979q-.333-1.5-1.255-2.665Q16.344 6.672 15.017 6H20.5v-.77h1v6.04zm-18 7.5v-6.038h1v.769h1.979q.332 1.5 1.255 2.665q.922 1.164 2.249 1.835H3.5v.77z",
  },
  {
    subheading: "Filtration",
    image: "/assets/filtration.jpg",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do",
    svgPath:
      "M11.77 19q-.33 0-.55-.22t-.22-.55v-5.576L5.604 5.83q-.202-.27-.055-.55t.47-.28h11.962q.323 0 .47.28q.147.282-.055.55L13 12.655v5.577q0 .328-.22.549t-.55.22z",
  },
  {
    subheading: "Irrigation",
    image: "/assets/irrigation.jpg",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do",
    svgPath:
      "M9.127 21q-.546 0-.975-.338q-.429-.339-.585-.88l-1.027-4.05h10.923l-1.03 4.052q-.155.54-.584.878q-.429.339-.975.339zM12 8.673q.192-1.961 1.577-3.346t3.346-1.558q-.173 1.808-1.415 3.16T12.5 8.63V11h7.154v2.346q0 .671-.472 1.143t-1.143.472H6q-.671 0-1.143-.471q-.473-.473-.473-1.144V11H11.5V8.63q-1.766-.35-2.998-1.692T7.077 3.77q1.961.173 3.346 1.558T12 8.673",
  },
];
---

<!-- TODO 
 1. set up responsive layout with image
 2. add carousel of image which changes onclick of each card
 3. look to make widths responsive (see below) -->
<Wrapper section="services">
  <FeatureTitle title="Our Services" id="services" />
  <div class="services-layout">
    <div class="background-image" id="background-image"></div>

    <!-- Card section -->
    <div class="services-cards">
      {
        data.map((d) => (
          <div data-image={d.image} class="card">
            <hr class="divider" />
            <div class="card-wrapper">
              <h3 class="subheading">{d.subheading}</h3>

              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width={60}
                  height={60}
                  viewBox="0 0 24 24"
                >
                  <path d={d.svgPath} />
                </svg>
              </div>
              <div class="description">{d.description}</div>
            </div>
          </div>
        ))
      }
    </div>
    <!-- <ServicesCard changeBackground={changeBackground} /> -->
  </div>
</Wrapper>

<!-- TODO 
 1. Fixed widths on the tile is causing the wrapping issue
 2. Investigate using min/max autofill for the cards
 3. Reduce the padding of services - maybe remove global wrapper
 4. Try using React here and storing state to transition between images
 loop through all the tiles, remove the class that make it active -->

<style>
  .services-layout {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
  .background-image {
    background-image: url("../assets/bluewater.jpg");
    background-size: cover;
    width: 100%;
    /* min-width: 600px; */
    border-radius: 10px;
    background-position: center;
    /* transition: background-image 500ms ease-in-out; */
    /* transition-timing-function: ease-in; */
    /* transition-duration: 1000ms; */
    /* transition-delay: 500ms; */
    transition: opacity 150ms ease-in-out;
  }

  /* Fading Effect */
  .fade-out {
    opacity: 0;
  }

  .fade-in {
    opacity: 1;
  }

  /* media queries */
  @media (width <= 1024px) {
    .services-layout {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    .background-image {
      height: 60vh;
    }
  }

  /* styles for the cards */
  .services-cards {
    display: grid;
    /* max-width: 800px; */
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 auto;
  }
  .card {
    align-items: flex-start;
    height: auto;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0rem 1rem 1rem 1rem;
    width: 320px;
    min-height: 250px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out 0.1s;
  }

  .divider {
    border: none;
    width: 100%;
    height: 4px;
    background-color: hsl(var(--color-navy));
    margin: 0px 0px 20px 0px;
    border-radius: 8px;
  }

  .subheading {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.025em;
  }

  .description {
    font-weight: 500;
    padding-top: 1rem;
  }

  .icon {
    padding: 1rem 0rem;
  }

  .card-wrapper {
    padding: 1rem;
  }

  .card-active {
    background-color: hsl(var(--color-navy));
    color: hsl(var(--color-off-white));
  }
  /* .card:hover { */
  .card:hover {
    background-color: hsl(var(--color-navy));
    color: hsl(var(--color-off-white));
    border-radius: 8px;
    padding-left: 1rem;
  }

  .icon path {
    fill: hsl(var(--color-navy));
  }

  .card:hover .icon path {
    fill: hsl(var(--color-off-white));
  }

  /* media query */
  @media screen and (max-width: 576px) {
    .services-cards {
      grid-template-columns: 1fr;
      /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
    }
  }
</style>

<script>
  function changeBackground(event: MouseEvent): void {
    const target = event.currentTarget as HTMLElement;
    const newImageSrc = target.dataset.image; // Get image URL from data attribute
    if (!newImageSrc) return; // Prevent errors if data-image is missing

    const servicesImage = document.getElementById(
      "background-image"
    ) as HTMLElement | null;

    if (servicesImage) {
      // Add a fade-out effect before changing the image
      servicesImage.classList.add("fade-out");

      setTimeout(() => {
        servicesImage.style.backgroundImage = `url('src/${newImageSrc}')`;
        servicesImage.classList.remove("fade-out");
        servicesImage.classList.add("fade-in");
      }, 300); // Wait for fade-out before changing image

      setTimeout(() => {
        servicesImage.classList.remove("fade-in"); // Remove class after animation
      }, 600);
    }

    // Change card color on click
    document.querySelectorAll<HTMLElement>(".card").forEach((card) => {
      card.classList.remove("active-card");
    });

    target.classList.add("active-card"); // Add active class to clicked card
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll<HTMLElement>(".card").forEach((card) => {
      card.addEventListener("click", changeBackground);
    });
  });
</script>
